<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ua.nau.edu.NAU_Guide"
    android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name="ua.nau.edu.Systems.MultiDexSystem"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.indooratlas.android.sdk.API_KEY"
            android:value="ac53400d-714b-4796-b1dd-7b303b22ee88" />
        <meta-data
            android:name="com.indooratlas.android.sdk.API_SECRET"
            android:value="7Qu2UL)9hRtg3Af%95y!kM)J64%Yd3Y7J7)ZeLgEvJnHUyVmH7iBgZORrwrOij6jajRLTf4Hmgc8X9wZFtWdcCq8oVAVkU%k3rTpM6a(GAA8l2tn58fVeC6D2Z2epc9a" />

        <uses-sdk tools:node="replace" />

        <activity
            android:name=".SplashActivity"
            android:label="@string/SplashActivity_label"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:label="@string/MainActivity_label">
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.tutorial.CLEARSCREEN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchActivity"
            android:label="@string/SearchActivity_label">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/MapsActivity_label"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchActivity" />
        </activity>
        <activity
            android:name="com.vk.sdk.VKServiceActivity"
            android:label="ServiceActivity"
            android:theme="@style/VK.Transparent" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/LoginActivity_label" />
        <activity
            android:name=".InfoActivity"
            android:label="@string/InfoActivity_label" />
        <activity
            android:name=".FloorActivity"
            android:label="@string/FloorActivity_label" />
        <activity
            android:name=".UserProfileActivity"
            android:label="Профиль" />
        <activity
            android:name=".LectorsListActivity"
            android:label="Преподаватели" />
        <activity
            android:name=".NewsActivity"
            android:label="Лента" />
        <activity
            android:name=".CreatePostActivity"
            android:label="Новая запись"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".UpdatePostActivity"
            android:label="Редактировать"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <activity
            android:name=".Debug.MapsTestActivity"
            android:label="Test Map" />

        <activity
            android:name=".Debug.MapsOverlayActivity"
            android:label="IndoorAtlas Test" />

    </application>

</manifest>
